# LEGO Data Analysis - Rebrickable

This dataset was gotten from https://rebrickable.com/downloads/

The LEGO Parts/Sets/Colors and Inventories of every official LEGO set in the Rebrickable database is available for download as csv files here. These files are automatically updated daily. If you need more details, you can use the API which provides real-time data, but has rate limits that prevent bulk downloading of data

In [1]:
import pandas as pd
import numpy as np

#### Getting Data

In [11]:
sets = pd.read_csv(r'C:\Users\bolaj\Rebrickable\source\sets.csv')
sets.head()

  set_num                        name  year  theme_id  num_parts
0   001-1                       Gears  1965         1         43
1  0011-2           Town Mini-Figures  1979        67         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          0
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

In [10]:
themes = pd.read_csv(r'C:\Users\bolaj\Rebrickable\source\themes.csv')
themes.head()

   id            name  parent_id
0   1         Technic        NaN
1   3     Competition        1.0
2   4  Expert Builder        1.0
3  16      RoboRiders        1.0
4  17  Speed Slammers        1.0

#### Checking the datatypes

In [12]:
sets.dtypes

set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
dtype: object

In [13]:
themes.dtypes

id             int64
name          object
parent_id    float64
dtype: object

#### checking for null values

In [16]:
sets.isnull().sum()

set_num      0
name         0
year         0
theme_id     0
num_parts    0
dtype: int64

In [17]:
themes.isnull().sum()

id             0
name           0
parent_id    138
dtype: int64

#### Checking details of the data

In [18]:
sets.shape

(19378, 5)

In [19]:
themes.shape

(445, 3)

#### Merging our Data